<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="../Dashboard.css" />
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
	<section id="menu">
		<div class="logo">
			<img src="" alt="Logo" />
			<h2>AutoMate</h2>
		</div>
		<div class="items">
			<ul>
				<li><i class="fas fa-home"></i> <a href="/">Home</a></li>
				<li><i class="fa-regular fa-wrench"></i>
					<a href="/mech">Mechanic</a>
				</li>
				<li>
					<i class="fa-regular fa-user"></i>
					<a href="/con">Customer</a>
				</li>
				<li><i class="fa-duotone fa-users"></i> <a href="#">About Us</a></li>
			</ul>
		</div>
	</section>

	<section id="interface">
		<div class="navigation">
			<div class="n1">
				<div>
					<i id="menu-btn" class="fas fa-bars"></i>
				</div>
				<div class="search">
					<i class="fas fa-search"></i>
					<input type="text" placeholder="Search..." />
				</div>
			</div>
			<div class="profile">
				<i class="fa-solid fa-bell-ring"></i>
				<p>
					<%= name %>
				</p>
				<img src="" />
			</div>
		</div>

		<h3 class="i-name">
			<%= dashboardname %> Dashboard
		</h3>

		<div class="values">
			<div id="box1" class="val-box">
				<!-- <i class="fa-solid fa-badge-check" style="color: #63E6BE;"></i> -->
				<i class="fa-solid fa-clipboard-list-check"></i>
				<div>
					<span><a href="#">
							<%= arr[0] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
			<div id="box2" class="val-box">
				<i class="fa-solid fa-timer"></i>
				<div>
					<span id="box2"><a href="#">
							<%= arr[1] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
			<div id="box3" class="val-box">
				<i class="fa-light fa-hand"></i>
				<div>
					<span><a href="#">
							<%= arr[2] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
		</div>
		<div id="b1" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Shop Name</td>
						<td>Service Available</td>
						<td>Status</td>
						<td>Address</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% for (let i=0; i < data.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5>
										<%= data[i]['shopname'] %>
									</h5>
									<p>
										<%= data[i]['ownername'] %>
									</p>
								</div>
							</td>
							<td class="people-des">
								<% for (let j=0; j < data[i]['serviceAvailable'].length; j++) {%>
									<p>
										<%= data[i]['serviceAvailable'][j] %>
									</p>
								<% } %>
							</td>
							<td class="active">
								<% if (data[i]['timings'].get(day).notavailable == false ){%>
									<p>Active</p>
								<% }else { %>
									<p>Not Active</p>
								<% } %>
							</td>
							<td class="role">
								<p>
									<% let arr=data[i]['address'].split(' '); let last =
									arr.slice(-2); let laststr = last.join(' '); %> <%= laststr %>
								</p>
							</td>
							<td class="edit">
								<button type="button" id="book_slot" class="btn btn-primary btn-sm book-slot-btn" data-shopname="<%= data[i]['shopname'] %>" data-ownername="<%= data[i]['ownername'] %>" data-address="<%= laststr %>" data-email = "<%= data[i]['email'] %>" data-customername = "<%= name %>" data-mobile = "<%= phno %>" data-custemail = "<%= conmail %>">Book Slot</button>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
		</div>
		<div id="b2" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Shop Name</td>
						<td>Service Booked</td>
						<td>Status</td>
						<td>Address</td>
						<td>Form Status</td>
					</tr>
				</thead>
				<tbody>
					<% for (let i = 0; i < second.length; i++){%>
					<tr>
						<td class="people">
							<img src="" alt="" />
							<div class="people-description">
								<h5><%= second[i]['shopname'] %>
									</h5>
									<p>
										<%= second[i]['ownername'] %>
									</p>
	</div>
	</td>
	<td class="people-des">
		<% for (let j=0; j < second[i]['vehicletype'].length; j++) {%>
			<p>
				<%= second[i]['vehicletype'][j] %>
			</p>
			<% } %>
	</td>
	<td class="active">
		<% if (data[i]['timings'].get(day).from !="" ){%>
			<p>Active</p>
			<% }else { %>
				<p>Not Active</p>
				<% } %>
	</td>
	<td class="role">
		<p>
			<% let arr=data[i]['address'].split(' '); 
			let last = arr.slice(-2); 
			let laststr = last.join(' '); %> 
			<%= laststr %>
							</p>
						</td>
						<td class="edit">
							<button type="button" class="btn btn-primary btn-sm">
							<% if (second[i]['isaccepted'] == false){%>
								Pending
							<% } else { %>
								Accepted
							<% } %></button>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div id="b3" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Shop Name</td>
						<td>Service Available</td>
						<td>Service Status</td>
						<td>Address</td>
						<td>Bill Status</td>
					</tr>
				</thead>
				<tbody>
					<% for (let i = 0; i < third.length; i++){%>
					<tr>
						<td class="people">
							<img src="" alt="" />
							<div class="people-description">
								<h5><%= data[i]['shopname'] %>
				</h5>
				<p>
					<%= data[i]['ownername'] %>
				</p>
				</div>
	</td>
	<td class="people-des">
		<% for (let j=0; j < data[i]['serviceAvailable'].length; j++) {%>
			<p>
				<%= data[i]['serviceAvailable'][j] %>
			</p>
			<% } %>
	</td>
	<td class="active">
		<% if (third[i].iscompleted == false) {%>
			<p>Working</p>
		<% } else { %>
			<p>Completed</p>
		<% } %>
	</td>
	<td class="role">
		<p>
			<% let arr=data[i]['address'].split(' '); let last =
								arr.slice(-2); let laststr = last.join(' '); %> <%= laststr %>
							</p>
						</td>
						<td class="edit">
							<button type="button" class="btn btn-primary btn-sm">
								<% if(third[i]['iscompleted'] == true){%>
									View Bill
								<% } else {%>
									Not Generated
								<% } %>
							</button>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		</section>
		<script>
			const menuButton = document.getElementById("menu-btn");
			const menu = document.getElementById("menu");

			menuButton.addEventListener("click", function () {
				menu.classList.toggle("active");
			});

			let btn1 = document.getElementById('box1');
			let btn2 = document.getElementById('box2'); 
			let btn3 = document.getElementById('box3'); 
			btn1.addEventListener('click', (event) => {
				
				let div1 = document.getElementById('b1');
				let div2 = document.getElementById('b2');
				let div3 = document.getElementById('b3');
				div1.style.visibility = "visible";
				div2.style.visibility = "hidden";
				div3.style.visibility = "hidden";
			});
			btn2.addEventListener('click', (event) => {
				
				let div1 = document.getElementById('b1');
				let div2 = document.getElementById('b2');
				let div3 = document.getElementById('b3');
				div1.style.visibility = "hidden";
				div2.style.visibility = "visible";
				div3.style.visibility = "hidden";
			});
			btn3.addEventListener('click', (event) => {
				
				let div1 = document.getElementById('b1');
				let div2 = document.getElementById('b2');
				let div3 = document.getElementById('b3');
				div1.style.visibility = "hidden";
				div2.style.visibility = "hidden";
				div3.style.visibility = "visible";
			});

			
			let a = Array.from(document.querySelectorAll("#book_slot"));
			console.log(a);

			a.forEach(button => {
				button.addEventListener('click', function (event) {
					event.preventDefault();
					const shopName = this.dataset.shopname;
					const ownerName = this.dataset.ownername;
					const address = this.dataset.address;
					const email = this.dataset.email;
					const customername = this.dataset.customername;
					const mobile = this.dataset.mobile;
					const custemail = this.dataset.custemail;

					console.log('Shop Name:', shopName);
					console.log('Owner Name:', ownerName);
					console.log('Address:', address);
					console.log('Email : ',email);

					window.location.href =
						`/booking?shopname=${encodeURIComponent(shopName)}&ownername=${encodeURIComponent(ownerName)}&address=${encodeURIComponent(address)}&email=${encodeURIComponent(email)}&customername=${encodeURIComponent(customername)}&mobile=${encodeURIComponent(mobile)}&custemail=${encodeURIComponent(custemail)}`;
				});
			});


		</script>
</body>

</html>