<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mechanic Dashboard</title>
		<link rel="stylesheet" href="../Dashboard.css" />
		<link
			rel="stylesheet"
			href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<style>
			body {
				position: relative;
			}

			#display_desc {
				padding: 5px;
				visibility: hidden;
				width: 25rem;
				height: 25rem;
				overflow: scroll;
				box-shadow: 1px 1px 1px 1px white;
				transform: scale(1.2);
				position: absolute;
				background-color: white;
				color: black;
				top: 150px;
				left: 550px;
			}
			#menu .items li:nth-child(2) {
				border-left: 4px solid white;
			}
			/* CSS to make the image cursor a pointer */
			#profileImage {
				cursor: pointer;
			}

			/* CSS for the popup box */
			#popupBox {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				border: 1px solid #ccc;
				padding: 10px;
				z-index: 1;
			}
		</style>
	</head>

	<body>
		<section id="menu">
			<div class="logo">
				<img src="" alt="Logo" />
				<h2>AutoMate</h2>
			</div>
			<div class="items">
				<ul>
					<li><i class="fas fa-home"></i> <a href="/">Home</a></li>
					<li
						><i class="fa-regular fa-wrench"></i>
						<a href="/mech">Mechanic</a>
					</li>
					<li>
						<i class="fa-regular fa-user"></i>
						<a href="/con">Customer</a>
					</li>
					<li><i class="fa-duotone fa-users"></i> <a href="#">About Us</a></li>
				</ul>
			</div>
		</section>

		<section id="interface">
			<div class="navigation">
				<div class="n1">
					<div>
						<i id="menu-btn" class="fas fa-bars"></i>
					</div>
					<div class="search">
						<i class="fas fa-search"></i>
						<input type="text" placeholder="Search..." />
					</div>
				</div>
				<div class="profile">
					<p id="profileID"> <%= name %> </p>
					<!-- Added alt attribute for accessibility -->
					<img id="profileImage" alt="Profile Image" />
				</div>

				<!-- Hidden popup box -->
				<div id="popupBox">
					<p id="logoutLink"><a href="#">Logout</a></p>
				</div>
			</div>

			<h3 class="i-name"> <%= dashboardname %> Dashboard </h3>

			<div class="values">
				<div id="box1" class="val-box">
					<!-- <i class="fa-solid fa-badge-check" style="color: #63E6BE;"></i> -->
					<i class="fa-solid fa-clipboard-list-check"></i>
					<div>
						<span><a href="#"> <%= arr[0] %> </a></span>
						<h2></h2>
					</div>
				</div>
				<div id="box2" class="val-box">
					<i class="fa-solid fa-timer"></i>
					<div>
						<span><a href="#"> <%= arr[1] %> </a></span>
						<h2></h2>
					</div>
				</div>
				<div id="box3" class="val-box">
					<i class="fa-light fa-hand"></i>
					<div>
						<span><a href="#"> <%= arr[2] %> </a></span>
						<h2></h2>
					</div>
				</div>
			</div>
			<div id="b1" class="board">
				<table width="100%">
					<thead>
						<tr>
							<td>Customer Name</td>
							<td>Booking Date</td>
							<td>Vehicle Type</td>
							<td>Problem-Description</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% for (let i=0; i < data.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5> <%= data[i]['customername'] %> </h5>
									<p> <%= data[i]['mobile'] %> </p>
								</div>
							</td>
							<td class="people-des">
								<p> <%= data[i]['bookeddate'] %> </p>
								<p> <%= data[i]['bookedtime'] %> </p>
							</td>
							<td class="active">
								<% for (let j=0; j < data[i]['vehicletype'].length; j++) {%> <%=
								data[i]['vehicletype'][j] %> <% } %>
							</td>
							<td class="role">
								<p id="view_desc">
									<a href="#">View Description</a>
								</p>
								<div id="display_desc"> <%= data[i]['complaint'] %> </div>
							</td>
							<td class="edit">
								<button
									type="button"
									id="accept_btn"
									class="btn btn-primary btn-sm book-slot-btn"
									data-customeremail="<%= data[i]['customeremail'] %>"
									data-mechanicemail="<%= data[i]['mechanicemail'] %>"
								>
									Accept
								</button>
							</td>
						</tr>
					</tbody>
					<div id="display_desc">
						Customer Details<br />Complaint<br />
						<%= data[i]['complaint'] %> </div
					><% } %>
				</table>
			</div>

			<div id="b2" class="board">
				<table width="100%">
					<thead>
						<tr>
							<td>Customer Name</td>
							<td>Booking Date</td>
							<td>Vehicle Type</td>
							<td>Problem-Description</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% for (let i=0; i < second.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5> <%= second[i]['customername'] %> </h5>
									<p> <%= second[i]['mobile'] %> </p>
								</div>
							</td>
							<td class="people-des">
								<p> <%= second[i]['bookeddate'] %> </p>
								<p> <%= second[i]['bookedtime'] %> </p>
							</td>
							<td class="active">
								<% for (let j=0; j < second[i]['vehicletype'].length; j++) {%>
								<%= second[i]['vehicletype'][j] %> <% } %>
							</td>
							<td class="role">
								<p id="view_desc">
									<a href="#">View Description</a>
								</p>
							</td>
							<td class="edit">
								<button
									type="button"
									id="complete_btn"
									class="btn btn-primary btn-sm book-slot-btn"
									data-customeremail="<%= second[i]['customeremail'] %>"
									data-mechanicemail="<%= second[i]['mechanicemail'] %>"
								>
									Completed
								</button>
							</td>
						</tr>
					</tbody>
					<% } %>
				</table>
			</div>

			<div id="b3" class="board">
				<table width="100%">
					<thead>
						<tr>
							<td>Customer Name</td>
							<td>Booking Date</td>
							<td>Vehicle Type</td>
							<td>Status</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% for (let i=0; i < third.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5> <%= third[i]['customername'] %> </h5>
									<p> <%= third[i]['mobile'] %> </p>
								</div>
							</td>
							<td class="people-des">
								<p> <%= third[i]['bookeddate'] %> </p>
								<p> <%= third[i]['bookedtime'] %> </p>
							</td>
							<td class="active">
								<% for (let j=0; j < third[i]['vehicletype'].length; j++) {%>
								<%= third[i]['vehicletype'][j] %> <% } %>
							</td>
							<td class="role">
								<p> Completed </p>
							</td>
							<td class="edit">
								<button
									type="button"
									id="complete_btn"
									class="btn btn-primary btn-sm book-slot-btn"
									data-customeremail="<%= third[i]['customeremail'] %>"
									data-mechanicemail="<%= third[i]['mechanicemail'] %>"
								>
									Generate Bill
								</button>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</section>

		<script>
			var nameElement = document.getElementById("profileID");
			var name = nameElement.innerHTML.trim(); // Trim whitespace

			var firstCharacter = name.charAt(0).toUpperCase();

			var canvas = document.createElement("canvas");
			var context = canvas.getContext("2d");
			canvas.width = 100; // Adjust width and height as per your requirement
			canvas.height = 100;
			context.fillStyle = "#F2AA4CFF"; // Background color to match black text
			context.fillRect(0, 0, canvas.width, canvas.height); // Fill background
			context.fillStyle = "#101820FF"; // Text color
			context.font = "bold 60px Arial"; // Font style and size
			context.textAlign = "center";
			context.textBaseline = "middle";
			context.fillText(firstCharacter, canvas.width / 2, canvas.height / 2);

			var dataURL = canvas.toDataURL();

			var profileImage = document.getElementById("profileImage");
			profileImage.src = dataURL;

			document.addEventListener("DOMContentLoaded", function () {
				// Get the profile image and popup box elements
				var profileImage = document.getElementById("profileImage");
				var popupBox = document.getElementById("popupBox");

				// Function to show the popup box
				function showPopup(event) {
					event.preventDefault();
					// Display the popup box at the position of the clicked image
					popupBox.style.display = "block";
					popupBox.style.right = "10px";
					popupBox.style.top = "50px";
				}

				// Function to hide the popup box
				function hidePopup() {
					popupBox.style.display = "none";
				}

				// Event listener to show the popup box when the image is clicked
				profileImage.addEventListener("click", showPopup);

				// Event listener to hide the popup box when clicking outside of it
				document.addEventListener("click", function (event) {
					if (event.target !== profileImage && event.target !== popupBox) {
						hidePopup();
					}
				});

				// Event listener for logout option in the popup box
				var logoutLink = document.getElementById("logoutLink");
				logoutLink.addEventListener("click", function (event) {
					event.preventDefault();
					// Perform logout action here, for example redirecting to logout page
					window.location.href = "/";
				});
			});

			const menuButton = document.getElementById("menu-btn");
			const menu = document.getElementById("menu");

			menuButton.addEventListener("click", function () {
				menu.classList.toggle("active");
			});

			let btn1 = document.getElementById("box1");
			let btn2 = document.getElementById("box2");
			let btn3 = document.getElementById("box3");
			btn1.addEventListener("click", (event) => {
				let div1 = document.getElementById("b1");
				let div2 = document.getElementById("b2");
				let div3 = document.getElementById("b3");
				div1.style.visibility = "visible";
				div2.style.visibility = "hidden";
				div3.style.visibility = "hidden";
			});
			btn2.addEventListener("click", (event) => {
				let div1 = document.getElementById("b1");
				let div2 = document.getElementById("b2");
				let div3 = document.getElementById("b3");
				div1.style.visibility = "hidden";
				div2.style.visibility = "visible";
				div3.style.visibility = "hidden";
			});
			btn3.addEventListener("click", (event) => {
				let div1 = document.getElementById("b1");
				let div2 = document.getElementById("b2");
				let div3 = document.getElementById("b3");
				div1.style.visibility = "hidden";
				div2.style.visibility = "hidden";
				div3.style.visibility = "visible";
			});

			let acceptbtn = document.querySelectorAll("#accept_btn");

			acceptbtn.forEach((button) => {
				button.addEventListener("click", async (event) => {
					const customerId = event.target.getAttribute("data-customeremail");
					const mechanicId = event.target.getAttribute("data-mechanicemail");

					try {
						const response = await fetch("/update-customer", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({ customerId, mechanicId }),
						});

						const result = await response.json();

						if (result.success) {
							window.location.reload();
							// event.target.innerText = 'Accepted';
							// event.target.disabled = true;
						} else {
							alert("Failed to update customer status");
						}
					} catch (error) {
						console.error("Error updating customer status:", error);
						alert("Failed to update customer status");
					}
				});
			});

			let completebtn = document.querySelectorAll("#complete_btn");

			completebtn.forEach((button) => {
				button.addEventListener("click", async (event) => {
					const customerId = event.target.getAttribute("data-customeremail");
					const mechanicId = event.target.getAttribute("data-mechanicemail");

					try {
						const response = await fetch("/iscomplete-customer", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({ customerId, mechanicId }),
						});

						const result = await response.json();

						if (result.success) {
							window.location.reload();
							// event.target.innerText = 'Accepted';
							// event.target.disabled = true;
						} else {
							alert("Failed to update customer status");
						}
					} catch (error) {
						console.error("Error updating customer status:", error);
						alert("Failed to update customer status");
					}
				});
			});

			let p = document.querySelectorAll("#view_desc");
			p.forEach((button) => {
				button.addEventListener("click", (e) => {
					let div = document.getElementById("display_desc");
					div.style.visibility = "visible";
				});
			});
		</script>
	</body>
</html>
