<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Mechanic Dashboard</title>
	<link rel="stylesheet" href="../Dashboard.css" />
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

		body {
			position: relative;
		}

		#display_desc {
			font-family: "EB Garamond", serif;
			display: flex;
			flex-direction: column;
			padding: 5px;
			visibility: hidden;
			width: 25rem;
			height: 25rem;
			overflow: scroll;
			box-shadow: 1px 1px 1px 1px white;
			transform: scale(1.2);
			position: absolute;
			background-color: white;
			color: black;
			top: 150px;
			left: 550px;
			border: 1px solid black;
			border-radius: 10px;
		}

		#display_desc h2,
		h5 {
			display: flex;
			justify-content: center;
		}

		#desc_content {
			display: flex;
			justify-content: center;
		}

		#desc_content p {
			border: 1px solid black;
			border-radius: 10px;
			width: fit-content;
			max-height: 50px;
			padding: 15px;
			font-family: "EB Garamond";
		}

		#menu .items li:nth-child(2) {
			border-left: 4px solid white;
		}

		/* CSS to make the image cursor a pointer */
		#profileImage {
			cursor: pointer;
		}

		/* CSS for the popup box */
		#popupBox {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			border: 1px solid #ccc;
			padding: 10px;
			z-index: 1;
		}

		#display_desc {
			padding: 5px;
			visibility: hidden;
			width: 25rem;
			height: 25rem;
			overflow: scroll;
			box-shadow: 1px 1px 1px 1px white;
			transform: scale(1.2);
			position: absolute;
			background-color: white;
			color: black;
			top: 150px;
			left: 550px;
			z-index: 10;
		}

		#cancel_icon {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
		}
	</style>

<body>
	<section id="menu">
		<div class="logo">
			<img alt="Logo" />
			<h2>AutoMate</h2>
		</div>
		<div class="items">
			<ul>
				<li><i class="fas fa-home"></i> <a href="/">Home</a></li>
				<li><i class="fa-regular fa-wrench"></i>
					<a href="/mech">Mechanic</a>
				</li>
				<li>
					<i class="fa-regular fa-user"></i>
					<a href="/con">Customer</a>
				</li>
				<li><i class="fa-duotone fa-users"></i> <a href="#">About Us</a></li>
			</ul>
		</div>
	</section>

	<section id="interface">
		<div class="navigation">
			<div class="n1">
				<div>
					<i id="menu-btn" class="fas fa-bars"></i>
				</div>
				<div class="search">
					<i class="fas fa-search"></i>
					<input type="text" placeholder="Search..." />
				</div>
			</div>
			<div class="profile">
				<p id="profileID">
					<%= name %>
				</p>
				<!-- Added alt attribute for accessibility -->
				<img id="profileImage" alt="Profile Image" />
			</div>

			<!-- Hidden popup box -->
			<div id="popupBox">
				<p id="logoutLink"><a href="#">Logout</a></p>
			</div>
		</div>

		<h3 class="i-name">
			<%= dashboardname %> Dashboard
		</h3>

		<div class="values">
			<div id="box1" class="val-box">
				<!-- <i class="fa-solid fa-badge-check" style="color: #63E6BE;"></i> -->
				<i class="fa-solid fa-clipboard-list-check"></i>
				<div>
					<span><a href="#">
							<%= arr[0] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
			<div id="box2" class="val-box">
				<i class="fa-solid fa-timer"></i>
				<div>
					<span><a href="#">
							<%= arr[1] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
			<div id="box3" class="val-box">
				<i class="fa-light fa-hand"></i>
				<div>
					<span><a href="#">
							<%= arr[2] %>
						</a></span>
					<h2></h2>
				</div>
			</div>
		</div>
		<div id="b1" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Customer Name</td>
						<td>Booking Date</td>
						<td>Vehicle Type</td>
						<td>Problem-Description</td>
						<td>Request Status</td>
					</tr>
				</thead>
				<tbody>
					<% for (let i=0; i < data.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="Profile Image" />
								<div class="people-description">
									<h5 id="Cname">
										<%= data[i]['customername'] %>
									</h5>
									<p>
										<%= data[i]['mobile'] %>
									</p>
								</div>
							</td>
							<td class="people-des">
								<p>
									<%= data[i]['bookeddate'] %>
								</p>
								<p>
									<%= data[i]['bookedtime'] %>
								</p>
							</td>
							<td class="active">
								<% for (let j=0; j < data[i]['vehicletype'].length; j++) {%>
									<center>
										<h6>
											<%= data[i]['vehicletype'][j] %>
										</h6>

										<% } %>
											<p>
												<%= data[i]['registernumber'] %>
											</p>
									</center>
							</td>
							<td class="role">
								<center>
									<p id="view_desc">
										<a href="#">View Description</a>
									</p>
								</center>
							</td>
							<td class="edit">
								<button type="button" id="accept_btn" class="btn btn-primary btn-sm book-slot-btn"
									data-customeremail="<%= data[i]['customeremail'] %>"
									data-mechanicemail="<%= data[i]['mechanicemail'] %>">
									Accept
								</button>
							</td>
						</tr>
				</tbody>
				<div id="display_desc">
					<i class="fa-solid fa-circle-xmark" id="cancel_icon"></i>
					<h2>Customer Details</h2>
					<br />
					<h5>Complaints</h5>
					<br />
					<div id="desc_content">
						<p>
							<%= data[i]['complaint'] %>
						</p>
					</div>
				</div>
				<% } %>
			</table>
		</div>

		<div id="b2" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Customer Name</td>
						<td>Booking Date</td>
						<td>Vehicle Type</td>
						<td>Problem-Description</td>
						<td>Work Status</td>
					</tr>
				</thead>
				<tbody>
					<% for (let i=0; i < second.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5>
										<%= second[i]['customername'] %>
									</h5>
									<p>
										<%= second[i]['mobile'] %>
									</p>
								</div>
							</td>
							<td class="people-des">
								<p>
									<%= second[i]['bookeddate'] %>
								</p>
								<p>
									<%= second[i]['bookedtime'] %>
								</p>
							</td>
							<td class="active">
								<% for (let j=0; j < second[i]['vehicletype'].length; j++) {%>
									<center>
										<h6>
											<%= second[i]['vehicletype'][j] %>
										</h6>
										<% } %>
											<p>
												<%= second[i]['registernumber'] %>
											</p>
									</center>
							</td>
							<td class="role">
								<p id="view_desc">
									<a href="#">View Description</a>
								</p>
							</td>
							<td class="edit">
								<button type="button" id="complete_btn" class="btn btn-primary btn-sm book-slot-btn"
									data-customeremail="<%= second[i]['customeremail'] %>"
									data-mechanicemail="<%= second[i]['mechanicemail'] %>">
									Completed
								</button>
							</td>
						</tr>
				</tbody>
				<% } %>
			</table>
		</div>

		<div id="b3" class="board">
			<table width="100%">
				<thead>
					<tr>
						<td>Customer Name</td>
						<td>Booking Date</td>
						<td>Vehicle Type</td>
						<td>Status</td>
						<td>Bill Status</td>
					</tr>
				</thead>
				<tbody>
					<% for (let i=0; i < third.length; i++){%>
						<tr>
							<td class="people">
								<img src="" alt="" />
								<div class="people-description">
									<h5>
										<%= third[i]['customername'] %>
									</h5>
									<p>
										<%= third[i]['mobile'] %>
									</p>
								</div>
							</td>
							<td class="people-des">
								<p>
									<%= third[i]['bookeddate'] %>
								</p>
								<p>
									<%= third[i]['bookedtime'] %>
								</p>
							</td>
							<td class="active">
								<% for (let j=0; j < third[i]['vehicletype'].length; j++) {%>
									<center>
										<h6>
											<%= third[i]['vehicletype'][j] %>
										</h6>
										<% } %>
											<p>
												<%= third[i]['registernumber'] %>
											</p>
									</center>
							</td>
							<td class="role">
								<p> Completed </p>
							</td>
							<td class="edit">
								<button type="button" id="generate_bill" class="btn btn-primary btn-sm book-slot-btn"
									data-customername="<%= third[i]['customername'] %>"
									data-customernumber="<%= third[i]['mobile'] %>"
									data-registernumber="<%= third[i]['registernumber'] %>"
									data-vehicletype="<%= third[i]['vehicletype'][0] %>"
									data-bookeddate="<%= third[i]['bookeddate'] %>"
									data-mechanicnumber="<%= mechanicnumber %>">
									Generate Bill
								</button>
								<button type="button" class="btn btn-success btn-sm book-slot-btn"><i
										class="fa-solid fa-indian-rupee-sign"></i> Paid</button>
							</td>
						</tr>
						<% } %>
				</tbody>
			</table>
		</div>
	</section>

	<script>
		var nameElement = document.getElementById("profileID");
		var name = nameElement.innerHTML.trim();

		var firstCharacter = name.charAt(0).toUpperCase();

		var canvas = document.createElement("canvas");
		var context = canvas.getContext("2d");
		canvas.width = 100;
		canvas.height = 100;
		context.fillStyle = "#F2AA4CFF";
		context.fillRect(0, 0, canvas.width, canvas.height);
		context.fillStyle = "#101820FF";
		context.font = "bold 60px Arial";
		context.textAlign = "center";
		context.textBaseline = "middle";
		context.fillText(firstCharacter, canvas.width / 2, canvas.height / 2);

		var dataURL = canvas.toDataURL();

		var profileImage = document.getElementById("profileImage");
		profileImage.src = dataURL;

		// Get the profile image and popup box elements
		var profileImage = document.getElementById("profileImage");
		var popupBox = document.getElementById("popupBox");

		// Function to show the popup box
		function showPopup(event) {
			event.preventDefault();
			// Display the popup box at the position of the clicked image
			popupBox.style.display = "block";
			popupBox.style.right = "10px";
			popupBox.style.top = "50px";
		}
		function hidePopup(event) {
			event.preventDefault();

			popupBox.style.display = "none";
		}
		// Event listener to show the popup box when the image is clicked
		profileImage.addEventListener("click", showPopup);

		// Event listener to hide the popup box when clicking outside of it
		document.addEventListener("click", function (event) {
			if (event.target !== profileImage && event.target !== popupBox) {
				hidePopup(event);
			}
		});

		// Event listener for logout option in the popup box
		var logoutLink = document.getElementById("logoutLink");
		logoutLink.addEventListener("click", function (event) {
			event.preventDefault();
			// Perform logout action here, for example redirecting to logout page
			window.location.href = "/";
		});

		const menuButton = document.getElementById("menu-btn");
		const menu = document.getElementById("menu");

		menuButton.addEventListener("click", function () {
			menu.classList.toggle("active");
		});

		let btn1 = document.getElementById("box1");
		let btn2 = document.getElementById("box2");
		let btn3 = document.getElementById("box3");
		btn1.addEventListener("click", (event) => {
			let div1 = document.getElementById("b1");
			let div2 = document.getElementById("b2");
			let div3 = document.getElementById("b3");
			div1.style.visibility = "visible";
			div2.style.visibility = "hidden";
			div3.style.visibility = "hidden";
		});
		btn2.addEventListener("click", (event) => {
			let div1 = document.getElementById("b1");
			let div2 = document.getElementById("b2");
			let div3 = document.getElementById("b3");
			div1.style.visibility = "hidden";
			div2.style.visibility = "visible";
			div3.style.visibility = "hidden";
		});
		btn3.addEventListener("click", (event) => {
			let div1 = document.getElementById("b1");
			let div2 = document.getElementById("b2");
			let div3 = document.getElementById("b3");
			div1.style.visibility = "hidden";
			div2.style.visibility = "hidden";
			div3.style.visibility = "visible";
		});

		let acceptbtn = document.querySelectorAll("#accept_btn");

		acceptbtn.forEach((button) => {
			button.addEventListener("click", async (event) => {
				const customerId = event.target.getAttribute("data-customeremail");
				const mechanicId = event.target.getAttribute("data-mechanicemail");

				try {
					const response = await fetch("/update-customer", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ customerId, mechanicId }),
					});

					const result = await response.json();

					if (result.success) {
						window.location.reload();
						// event.target.innerText = 'Accepted';
						// event.target.disabled = true;
					} else {
						alert("Failed to update customer status");
					}
				} catch (error) {
					console.error("Error updating customer status:", error);
					alert("Failed to update customer status");
				}
			});
		});

		let completebtn = document.querySelectorAll("#complete_btn");

		completebtn.forEach((button) => {
			button.addEventListener("click", async (event) => {
				const customerId = event.target.getAttribute("data-customeremail");
				const mechanicId = event.target.getAttribute("data-mechanicemail");

				try {
					const response = await fetch("/iscomplete-customer", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ customerId, mechanicId }),
					});

					const result = await response.json();

					if (result.success) {
						window.location.reload();
						// event.target.innerText = 'Accepted';
						// event.target.disabled = true;
					} else {
						alert("Failed to update customer status");
					}
				} catch (error) {
					console.error("Error updating customer status:", error);
					alert("Failed to update customer status");
				}
			});
		});

		let p = document.querySelectorAll("#view_desc");
		p.forEach((button) => {
			button.addEventListener("click", (e) => {
				let div = document.querySelectorAll("#display_desc");
				div.forEach((label) => {
					label.style.visibility = "visible";
				})
			});
		});
		let generate_bill = document.querySelectorAll("#generate_bill");

		generate_bill.forEach(button => {
			button.addEventListener('click', async (event) => {
				const customerId = event.target.getAttribute('data-customername');
				const registernumber = event.target.getAttribute('data-registernumber');
				const customernumber = event.target.getAttribute('data-customernumber');
				const vehicletype = event.target.getAttribute('data-vehicletype');
				const bookeddate = event.target.getAttribute('data-bookeddate');
				const mechanicnumber = event.target.getAttribute('data-mechanicnumber');

				window.location.href =
					`/generatebill?customerId=${encodeURIComponent(customerId)}&registernumber=${encodeURIComponent(registernumber)}&customernumber=${encodeURIComponent(customernumber)}&vehicletype=${encodeURIComponent(vehicletype)}&bookeddate=${encodeURIComponent(bookeddate)}&mechanicnumber=${encodeURIComponent(mechanicnumber)}`;
			});
		});

		// Profile image creation for customer in table-list
		function createProfileImages() {
			var customerNames = document.querySelectorAll(".people-description h5");
			customerNames.forEach(function (nameElement) {
				var name = nameElement.textContent.trim();
				var firstCharacter = name.charAt(0).toUpperCase();

				var canvas = document.createElement("canvas");
				var context = canvas.getContext("2d");
				canvas.width = 100;
				canvas.height = 100;
				context.fillStyle = "#F2AA4CFF";
				context.fillRect(0, 0, canvas.width, canvas.height);
				context.fillStyle = "#101820FF";
				context.font = "bold 60px Arial";
				context.textAlign = "center";
				context.textBaseline = "middle";
				context.fillText(firstCharacter, canvas.width / 2, canvas.height / 2);

				var dataURL = canvas.toDataURL();
				var profileImage = document.createElement("img");
				profileImage.src = dataURL;

				var parentDiv = nameElement.closest(".people");
				var existingImage = parentDiv.querySelector("img");
				if (existingImage) {
					parentDiv.replaceChild(profileImage, existingImage);
				} else {
					parentDiv.insertBefore(profileImage, nameElement.nextSibling);
				}
			});
		}
		createProfileImages();

		const cancel = document.querySelectorAll("#cancel_icon");
		cancel.forEach(button => {
			button.addEventListener('click', (event) => {
				event.preventDefault();
				window.location.reload();
			});
		});

	</script>
</body>

</html>